@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
        max-width: 1640px;
        background-color: #fff;
    }

    .border-base {
        @apply rounded-lg border border-solid border-dr-border-primary;
    }

    .border-hover {
        @apply border-dr-border-hover;
    }

    .content-block {
        border: 1px solid var(--dr-border-primary);
        border-radius: 12px;
        box-shadow: 0px 1px 2px 0px #1018280d;
        background-color: #fff;
    }

    .status {
        @apply rounded-[64px] border border-solid px-2 py-0.5 text-xs leading-[18px];
    }
}
