.hero-section {
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%),
        url(../../assets/hero-bg.jpg);
    position: relative;
    height: 100vh;
    min-height: 880px;
    margin-top: -130px;

    .container {
        z-index: 2;
        position: relative;
        .aos-animate {
            margin-top: 20px;
        }
        h1 {
            font-size: 3.5rem;
            color: #fff;
            font-weight: 700;
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
            color: #fff;
        }
        .btn.btn-outline-white {
            border: 2px solid #fff;
            background: none;
            color: #fff;
        }
    }
    .hero-section,
    .hero-section > .container > .row {
        height: 100vh;
        min-height: 880px;
    }
    .iphone-wrap {
        position: relative;
        margin: auto;
        .phone-2 {
            margin-top: 50px;
            margin-left: 100px;
            width: 250px;
        }

        .phone-2,
        .phone-1 {
            width: 250px;

            position: absolute;
            top: -50%;
            overflow: hidden;
            left: 0;
            box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
            border-radius: 30px;
        }
    }
}
.section {
    padding: 7rem 0;
    .section-heading {
        font-size: 3rem;
        font-weight: 700;
        background: linear-gradient(-45deg, #3db3c5, #274685);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 125px;
    }
    .feature-1 .wrap-icon.icon-1 {
        background: linear-gradient(-45deg, #3b87bd, #2d71a2);
    }
    .feature-1 .wrap-icon {
        margin: 0 auto;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 40px;
            line-height: 0;
            color: #fff;
        }
    }
    .feature-1 h3 {
        font-size: 20px;
    }
    .feature-1 p {
        color: #b1b1b1;
    }
}
