#header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 32px;
    background: #023b6d;
    display: flex;
    align-items: center;
    .logo {
        padding-left: 10px;
        a {
            display: flex;
        }
        img {
            height: 25px;
        }
    }
    .preview-devices {
        margin-top: 2px;
        ul {
            margin: 0 0 0 20px;
            padding: 0;
            list-style: none;
            list-style-type: none;
            display: flex;
            align-items: center;
            .preview-devices-active a {
                color: #fff;
            }
            a {
                transition: 0.3s;
                color: rgba(255, 255, 255, 0.5);
                display: inline-block;
                padding: 5px 5px;
            }
            a:hover {
                color: #fff;
            }
        }
    }
    .current-template {
        margin-top: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        margin-left: auto;
        a {
            transition: 0.3s;
            color: rgba(255, 255, 255, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        a:hover {
            color: #fff;
        }
        .template-home {
            font-size: 16px;
            padding: 0;
            font-weight: 700;
            color: #fff;
            margin: -2px 10px 0 10px;
            line-height: 0;
            text-decoration: none;
        }
    }
    .navigate {
        display: flex;
        margin-left: auto;
        align-items: center;
        a {
            transition: 0.3s;
            color: rgba(255, 255, 255, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            i {
                width: 22px;
                height: 22px;
                margin-top: 6px;
            }
        }
        .download {
            background: #00a6eb;
            color: #fff;
            font-size: 13px;
            padding: 0 16px;
            height: 32px;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: 15px;
            white-space: nowrap;
            i {
                width: 20px;
                height: 20px;
            }
            span {
                padding-left: 6px;
            }
        }
    }
}
