.footer {
    padding: 5rem 0 2.5rem 0;
    h3 {
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 600;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        color: #9fa1a4;
    }
    .social a {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #f8f9fa;
        position: relative;
        text-align: center;
        transition: 0.3s background ease;
        color: #0d1e2d;
        line-height: 0;
        i {
            display: inline-block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .social a:hover {
        color: #fff;
        background: #2d71a1;
    }
    .credits {
        color: #9fa1a4;
        a {
            color: #000;
        }
    }
}
