.search {
    padding: 20px;
    margin-bottom: 20px;
    h1 {
        margin: 0 0 30px;
        color: darkorange;
        text-align: center;
    }
    input {
        padding: 12px;
        font-size: 16px;
        border: 2px solid cornflowerblue;
        border-radius: 4px 0 0 4px;
        outline: darkblue;
        background-color: #fff;
    }
    button {
        padding: 12px 8px;
        font-size: 16px;
        border: 2px solid cornflowerblue;
        border-radius: 0 4px 4px 0;
        background-color: cornflowerblue;
        color: #fff;
        transition: all 0.4s linear;
        cursor: pointer;
        &:hover {
            background-color: black;
            border: 2px solid #000;
        }
    }
}
