.banner {
    margin-top: 73px;
    height: 40vh;
    background-image: linear-gradient(to bottom right, #787ff6, #7bd5f5);
    color: #fff;
    text-align: center;
    p {
        margin: 12px 0;
    }
}
